########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

This is another example file from SaltStack template-formula.

# This is here for testing purposes
{{ grafana_docker | json }}

winner of the merge: {{ grafana_docker['winner'] }}
